# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production Build
dist/
build/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Bot Sessions & Sensitive Data
bot/sessions/
bot/service-account.json
service-account.json
*.pem

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# IDEs & System
.vscode/
.idea/
.DS_Store
Thumbs.db
